*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  background-color: rgb(245, 245, 245);
}

:root {
	--mainColor: #c90005;
	--mainColorLight: #ee4c4c;;
}

.nav_div{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.6s;
  z-index: 3;
}

.sticky{
  background-color: white;
  box-shadow: 0 1px 1px rgb(230, 230, 230);
}

.nav_ul{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
}

.nav_ul li{
  cursor: pointer;
  width: fit-content;
}

.nav-span{
  color: rgb(40, 40, 40);
  cursor: pointer;
  font-size: 17px;
  font-weight: b500;
  position: relative;
  display: flex;
  text-align: center;
}

.nav-span:after{
  content: "";
  position: absolute;
  background-color: var(--mainColor);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.nav-span:hover:after{
  width: 100%;
}

.nav-span:hover{
  color: var(--mainColor);
}

.scrolled{
  font-weight: normal;
}

.nav_btn{
  display: none;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.logo_div{
  width: 100%;
}

.logo_div span{
  width: fit-content;
  padding: 5px 10px;
  cursor: pointer;
  color: rgb(40, 40, 40);
  font-weight: bolder;
  font-size: 22px;
  border-radius: 8px;
}

.responsive_nav {
  transform: translateX(-100%);
  transition: transform 0.3s ease; 
}

.banner-div{
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  
}
.banner-img{
  opacity: 0.3;
  height: 650px;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.banner-text{
  text-align: center;
  margin-top: 230px;
  line-height: 50px;
}

.banner-text h2{
  font-weight: 300;
}

.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  background-color: var(--mainColor);
  text-align: center;
  font-size: 16px;
  border: 2px solid var(--mainColor);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  transition: color 0.4s, background-color 0.4s;
  cursor: pointer;
  width: 120px;
  height: 50px;
}

.row{
  display: flex;
}

.custom-calendly-button {
  color: var(--mainColor);
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  z-index: 1;
}

.button-div:hover button{
  transition: 1s;
  color: white;
}

.button-div::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 0;
  transition: transform 0.4s;
  transform: translateY(-100%);
}

.button-div:hover::before {
  transform: translateY(0);
}

.banner-booking-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  bottom: 10px;
  width: 80%;
  background-color: white;
  box-shadow: 0 1px 1px rgb(230, 230, 230);
  border: 1px solid rgb(227, 227, 227);
  border-radius: 15px;
  padding: 50px 25px;
  text-align: center;
  margin-top:200px;
}

.banner-booking-div h3{
  margin-bottom: 20px;
}

.booking-text{
  margin-bottom: 30px;
  font-size: 16px;
}

.slider{
  position: relative;
  display: flex;
  width: 100%;
  padding: 50px 30px 30px 30px;
  overflow: scroll;
  gap: 20px;
  margin: 50px 0;
  box-shadow: 0 1px 1px rgb(230, 230, 230);

}

.slider-p{
  position: absolute;
  top: 15px;
}

.slider-img{
  width: 200px;
  height: 200px;
}

.slider-item{
  display: flex;
}

.img-button{
  width: 30px;
  height: 30px;
  margin-left: 100px;
}

.slider-active{
  background-color: #c90005;
  width: fit-content;
}

.slider-item-active{
  position: fixed;
  z-index: 4;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(49,49,49,0.8);
}

.hidden{
  display: none;
}

.bigger-img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f1f1f1;
  border-radius: 3px;
  max-width: 900px;
  min-width: 300px;
  z-index: 1000;
}

/*
.slider-controls {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  z-index: 1000; 
}
*/

.close-btn,
.prev-btn,
.next-btn {
  border: none;
  cursor: pointer;
  font-size: 50px;
  z-index: 1001;
  transition: background 0.3s, transform 0.3s;
  position: fixed;
  text-align: center;
  background-color: transparent;
  color: white;
}

.close-btn {
  top: 50px;
  right: 9%;
  width: 60px;
  font-weight: bold;
}

.prev-btn {
  left: 8%;
  top: 50%;
  width: 60px;
}

.next-btn {
  right: 8%;
  top: 50%;
  width: 60px;
  transform: rotate(180deg);
}
/*
.about-us{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.about-us h2{
  font-weight: 500;
  font-size: 40px;
  color: var(--mainColor);
  letter-spacing: 2px;
  margin-bottom: 40px;
}

.our-story-img{
  max-width: 700px;
  margin: 0 20px;
  opacity: 0.3;
  border-radius: 15px;
}

.our-story{
  margin-bottom: 60px;
}

.row-x{
  display: flex;
  align-items: center;
  justify-content: center; 
  justify-content: space-evenly;
}

.row-x hr{
  flex-grow: 1;
  height: 2px;
  background-color: black;
  border: none;
  width: 100%;
  margin: 50px;
}

.row-x .left-hr {
  margin-right: 10px;
}

.row-x .right-hr {
  margin-left: 10px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px;
  border-radius: 8px;
  width: 80%;
}

.overlay-text p{
  color: black;
}

.why-choose, .meet-guides{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  width: 50%;
  border-radius: 15px;
  height: 900px;
}

.why-choose p, .meet-guides p{
  text-align: left;
}

.why-choose img, .meet-guides img{
  margin-right: 30px;
  width: 70%;
  border-radius: 15px;
}
*/
.about-us{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.about-us h2{
  font-weight: 500;
  font-size: 40px;
  color: var(--mainColor);
  letter-spacing: 2px;
  margin-bottom: 40px;
}

.our-story-img{
  max-width: 700px;
  margin: 0 20px;
  opacity: 0.3;
  border-radius: 15px;
}

.our-story{
  margin-bottom: 60px;
}

.row-x{
  display: flex;
  align-items: center;
  justify-content: center; 
  justify-content: space-evenly;
}

.row-x hr{
  flex-grow: 1;
  height: 2px;
  background-color: black;
  border: none;
  width: 100%;
  margin: 50px;
}

.row-x .left-hr {
  margin-right: 10px;
}

.row-x .right-hr {
  margin-left: 10px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px;
  border-radius: 8px;
  width: 80%;
}

.overlay-text p{
  color: black;
}

.why-choose, .meet-guides{
  display: flex;
  align-items: center;
  padding: 50px;
}

.why-choose p, .meet-guides p{
  text-align: left;
}

.why-choose img, .meet-guides img{
  margin-right: 30px;
  width: 350px;
  border-radius: 15px;
}
.comment {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #e9e9e9;
  width: 80%;
  margin-bottom: 50px;
  border-radius: 15px;
}

.comment img {
  width: 50px;
  height: auto;
}

.comments-container {
  padding: 0 30px;
}

.row{
  display: flex;
  align-items: center;
}

p{
  text-align: center;
}

.lighter-span{
  color: gray;
  font-size: 12px;
}

.display-text{
  text-align: left;
  margin: 10px 0 13px 5px;
}

.readmore-button{
  padding: 5px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid var(--mainColor);
  transition: 0.3s;
  color: white;
  background-color: var(--mainColor);
}

.readmore-button:hover{
  background-color: var(--mainColorLight);
  transition: 0.3s;
}

.quick-facts-container{
  padding: 30px;
  margin-bottom: 50px;
}

.quick-facts-container hr{
  margin-top: 80px;
}

.quick-facts-container p{
  text-align: left;
  margin-left: 20px;
}

.quick-facts-element{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.tour-information-header{
  text-align: center;
  margin-bottom: 40px;
}

.tour-information-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  gap: 50px; 
  grid-column-gap: 10px;
}

.tour-information-item{
  flex: 1 1 45%;
  max-width: 90%;
  background-color: #ffffff;
  border-radius: 5% 5% 5% 5%;
  text-align: center;
  box-shadow: 0 1px 1px rgb(218, 218, 218);
  padding-bottom: 15px;
  align-self: start;
  justify-self: center; 
  margin-left: auto; 
  margin-right: auto;
}

.tour-information-item img{
  width: 100%;
  height: 380px;
  border-radius: 5% 5% 0 0;
}

.tour-information-item p{
  margin: 10px;
}

.booking-section-container{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.booking-section-container select, input{
  outline: none;
  border: none;
  border-bottom: 1px solid var(--mainColor);
  padding: 10px;  
}

.booking-section-element{
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
}

.booking-section-element span{
  font-size: 12px;
  
}

.booking-section-container select:valid, .booking-section-container input::placeholder {
  color: black; 
}

.custom-date-picker::-webkit-calendar-picker-indicator{
  cursor: pointer;
}

.bold{
  font-weight: bold;
  color: var(--mainColor);
}

footer{
  padding: 20px 50px;
}

.footer-p, .terms{
  font-weight: 200;
  font-size: 13px;
}

.terms span{
  cursor: pointer;
}

.terms span:hover{
  color: var(--mainColor);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50% ;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 700px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  outline: none;
}

.modal h2{
  text-align: center;
}

.modal p{
  text-align: left;
  font-size: 12px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: 'rgba(0, 0, 0, 0.75)';
  z-Index: 1000;
}

.close-modal{
  border: 1px solid black;
  padding: 3px 5px;
  background-color: white;
  color: black;
  border-radius: 5px;
}

.meetup{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
}

.meetup hr{
  width: 100%;
  margin:100px ;
}

.meetup-content{
  padding: 10px 30px;
}

.meetup-content p{
  text-align: left;
}

.meetup h2{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  color: var(--mainColor);
}

.meetup-img{
  width: 300px;
  height: 300px;
  border-radius: 5px;
}

.meetup-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex:1 ;
}

.smaller-p{
  font-weight: 200;
  font-size: 12px;
}

.select-tour{
  outline: none;
  border: none;
  margin: 0 0 5px 5px;
  cursor: pointer;
}

.contact {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

.contact-info {
  margin-bottom: 20px;
  text-align: center;
}

.contact-info p{
  margin-bottom: 7px;
  font-weight: 300;
}

.contact-info h3{
  font-weight: 500;
  margin-bottom: 20px;
}



@media only screen and (max-width: 1024px) {
  .nav_btn{
    display: block;
  }

  .nav_ul{
    position: fixed;
    height: fit-content;
    width: 50%;
    right: 0;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
  }

  .nav_ul li{
    width: 100%;
    text-align: center;
  }

  .nav_div{
    align-items: flex-start;
  }

  .responsive_nav{
    transform: translateX(0);
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    width: 300px;
  }

  .nav-span{
    display: inline-block;
  }

}